<?php 

// set the platform type
define('SYSTEM_TYPE', 'frontend');

// load core directory 
$GLOBALCORE = '../Core'; // please update

// load packagers directory, please update
$PACKAGERS_DIRECTORY_ARRAY = [
    '../Packagers/Moorexa/CLI' => 'Packager/Moorexa', // trim off
    '../Packagers/Moorexa/Web'  => 'Packager/Moorexa', // trim off
];

// CLI Packager class
$CLI_PACKAGER = Lightroom\Packager\Moorexa\MoorexaCliPackager::class;

// Main Packager Class
$MAIN_PACKAGER = Lightroom\Packager\Moorexa\MoorexaWebPackager::class;

// Source base directory
$SOURCE_BASE_PATH = '../Source'; // please update

// @Override for directories
define('DIRECTORY_OVERRIDE', [

    // when the system requests for ?
    'PATH_TO_KONSOLE' => [
        // check here first
        'PATH_TO_DIST' => '/console/'
    ],

    // and when 
    'PATH_TO_SERVICES' => [
        // check here first
        'PATH_TO_DIST' => '/services/'
    ],

    // and when
    'PATH_TO_EXTRA' => [
        // check here first
        'PATH_TO_DIST' => '/extra/'
    ],

    // and when
    'PATH_TO_UTILITY' => [
        // check here first
        'PATH_TO_DIST' => '/utility/'
    ],

    // and when
    'PATH_TO_STORAGE' => [
        // check here first
        'PATH_TO_DIST' => '/utility/Storage/'
    ]
]);